@{
    ViewBag.Title = "Contact";
}
<div class="container" style="margin-top:50px;">
    <h3>Наши контакты</h3>

    <address>
        Россия<br />
        Пермь, Маршала Толбухина 20<br />
        <abbr title="Phone">Номер телефона:</abbr>
        88005553535
    </address>

    <address>
        <strong>Поддержка:</strong>   <a href="mailto:support@wm.com">support@wm.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>
